<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="{{description}}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#ffffff">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:image" content="/images/logo.webp">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:type" content="article">
        <meta property="og:image" content="/images/news/blog-header.webp">
        <meta property="og:site_name" content="Prem Convertors">
        <meta property="article:author" content="Prem Convertors">
        <meta property="og:url" content="https://premconvertors.pages.dev/{{urlo}}">
        <link rel="canonical" href="https://premconvertors.pages.dev/{{urlo}}">

        <title>{{title}}</title>

        <!-- CSS FILES -->    
        {# <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">                     #}
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <link href="/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/css/tooplate-crispy-kitchen.css" rel="stylesheet">
        <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">

        {% if page.url == "/" %}
          {# <link rel="preload" as="video" href="/video/hero-bg" type="video/mp4"> #}
        
          <link rel="preload" as="image" href="/images/header/priscilla-du-preez-W3SEyZODn8U-unsplash.webp" type="image/webp">
          <link rel="preload" as="image" href="/images/blog/french-fry.webp" type="image/webp">
          <link rel="preload" as="image" href="/images/blog/girl-sandwich.webp" type="image/webp">
          <link rel="preload" as="image" href="/images/blog/muffin-cup.webp" type="image/webp">

        {% endif %}
        {% if page.url == "/blog/" %}
        
          <link rel="preload" as="image" href="/images/header/priscilla-du-preez-W3SEyZODn8U-unsplash.webp" type="image/webp">

        {% endif %}
        {% if page.url == "/about/" %}
        
          <link rel="preload" as="image" href="/images/header/briana-tozour-V_Nkf1E-vYA-unsplash.webp" type="image/webp">

        {% endif %}
        {% if page.url == "/contact/" %}
        
          <link rel="preload" as="image" href="/images/header/rod-long-I79Pgmhmy5M-unsplash.webp" type="image/webp">

        {% endif %}

        <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Prem Convertors",
  "url": "https://premconvertors.pages.dev/{{urlo}}",
  "logo": "https://premconvertors.pages.dev/images/logo.webp",  // Add your logo URL if available
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "+919736744977",
      "contactType": "Customer Service",
      "areaServed": "IN",
      "availableLanguage": "en"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+919805005775",
      "contactType": "Customer Service",
      "areaServed": "IN",
      "availableLanguage": "en"
    }
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Sai Rd",
    "addressLocality": "Baddi",
    "addressRegion": "Himachal Pradesh",
    "postalCode": "173205",
    "addressCountry": "IN"
  },
  "description": "{{description}}",
  "keywords": "specialty paper, paper manufacturing, Baddi, Himachal Pradesh, Prem Convertors",
  "sameAs": "https://maps.app.goo.gl/CJeKRwPJx3FNLzyw9?g_st=com.google.maps.preview.copy"
}
</script>

  <style>
    body{
        font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
    }
  </style>
    </head>
<body>
    {% include 'header.njk' %}
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
</body>
</html>