<footer class="site-footer section-padding lazy-bg" data-bg="./images/daan-evers-tKN1WXrzQ3s-unsplash.webp">
            
            <div class="container">
                
                <div class="row">

                    <div class="col-12">
                        <h4 class="text-white mb-4 me-5">Prem Convertors</h4>
                    </div>

                    <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                        <h6 class="text-white mb-lg-4 mb-3">Location</h6>

                        <p>Sai Rd, Baddi, Himachal Pradesh, India - 173205</p>

                        <a href="https://maps.app.goo.gl/93R8yfAR8LaW1jzUA" class="custom-btn btn btn-dark mt-2" aria-label="google maps link">Directions</a>
                    </div>

                    <div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
                        <h6 class="text-white mb-lg-4 mb-3">Contact</h6>

                        <p>Tel: <a href="tel: 9805005775" class="tel-link">9805005775</a></p><p>Tel: <a href="tel: 9736744977" class="tel-link">9736744977</a></p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                        <h6 class="text-white mb-lg-4 mb-3">Social</h6>

                        <ul class="social-icon">
                            <li><a href="https://m.facebook.com/people/Prem-Paper_Convertors/61555990806437" class="social-icon-link bi-facebook" aria-label="Facebook page link"></a></li>

                           
                        </ul>
                    
                        <p class="copyright-text tooplate-mt60">Copyright © 2025 Prem Convertors Co., Ltd.
                        <br>Website developed by <a rel="nofollow" href="https://webxfearless.pages.dev/" target="_blank">WebXFearless</a></p>
                        
                    </div>

                </div><!-- row ending -->
                
             </div><!-- container ending -->
             
        </footer>
        
        

        <!-- JAVASCRIPT FILES -->
        {# <script src="/js/jquery.min.js" defer></script> #}
        <script src="/js/bootstrap.bundle.min.js" defer></script>
        <script>
            document.querySelectorAll('.navbar-nav .nav-link').forEach(link => {
  link.addEventListener('click', () => {
    const collapseEl = document.querySelector('.navbar-collapse');
    const bsCollapse = bootstrap.Collapse.getInstance(collapseEl);
    if (bsCollapse) {
      bsCollapse.hide();
    }
  });
});

        </script>
